[Unit]
Description=UOM Automation Scheduler
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=skye
WorkingDirectory=/home/skye/csy/uom_automation
ExecStart=/usr/bin/python3 /home/skye/csy/uom_automation/cli_auto/uom_scheduler.py
Restart=always
RestartSec=10
StandardOutput=file:/home/skye/csy/uom_automation/log/uom_scheduler.log
StandardError=file:/home/skye/csy/uom_automation/log/uom_scheduler.log

[Install]
WantedBy=multi-user.target
